{cover_enabled, true}.
{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
{erl_opts, [native, {hipe,[o3]}, {src_dirs,["src", "include"]}]}.
{deps, [
    {'amqp_client', ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}},
    {'rabbit_common', ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {branch, "master"}}}
]}.
