*.beam
*.pyc
*.data
nohup.out
.DS_Store

html_data

setting.pp
fetch_denny_weibo.sh

code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/erts-5.9.3.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/appmon-2.1.14.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/asn1-1.8/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/compiler-4.8.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/crypto-2.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/erts-5.9.3.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/et-1.4.4.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/gs-1.5.15.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/inets-5.9.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/kernel-2.15.3/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/mnesia-4.7.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/observer-1.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/public_key-0.17/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/runtime_tools-1.8.9/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/sasl-2.2.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/ssl-5.1.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/stdlib-1.18.3/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/syntax_tools-1.6.9/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/tools-2.6.8/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/webtool-0.8.9.1/

code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/erts-5.10.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/asn1-2.0.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/compiler-4.9.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/crypto-2.3/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/erts-5.10.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/et-1.4.4.3/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/gs-1.5.15.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/inets-5.9.4/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/kernel-2.16.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/mnesia-4.8/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/observer-1.3/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/public_key-0.18/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/runtime_tools-1.8.10/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/sasl-2.3.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/ssl-5.2.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/stdlib-1.19.1/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/syntax_tools-1.6.11/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/tools-2.6.10/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/webtool-0.8.9.2/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/lib/wx-1.0/
code/webcrawl_article/snake_worker/rel/webcrawl_article/snake_worker/
code/webcrawl_article/snake_worker/rel/snake_worker/

webcrawl_article/snake_worker/deps/
code/webcrawl_article/snake_worker/deps/
code/webcrawl_article/snake_worker/ebin/*.beam
code/webcrawl_article/snake_worker/rel

erl_crash.dump
obsolte
raw_to_be_deleted
xzb_webserver.log
xzb_feedback.log*
cron.log
UserInterfaceState.xcuserstate
code/show_article/ios_client/MasterDetail.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
Images.bak
resource copy