<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="keywords" content="Keywords here" />
  <meta name="description" content="Description here" />
  <title>小字报投放策略管理</title>
  <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="resource/bootstrap-responsive.css"/>
  <link rel="stylesheet" href="resource/normalize.css"/>
  <link rel="stylesheet" href="resource/deployment.css"/>
</head>
<body>
<div class="container container-fluid">
	<div class="row row-fluid">
		<div id="user-articles" class="span6">
			<section id="user-name">
				<ul>
					<li>
						<p class="id">{{id}}</p>
						<p class="title">{{title}}</p>
						<p class="summary">{{summary}}</p>
					</li>
				</ul>
			</section>		
		</div>
		<div id="categories" class="span6">
			<section id="category-entreprenur">
				<ul>
					<li>
						<p class="id">{{id}}</p>
						<p class="title">{{title}}</p>
						<p class="summary">{{summary}}</p>
					</li>
				</ul>
			</section>
			<section id="category-joke">
				<ul>
					<li>
						<p class="id">{{id}}</p>
						<p class="title">{{title}}</p>
						<p class="summary">{{summary}}</p>
					</li>
				</ul>
			</section>
			<section id="category-lifehack">
				<ul>
					<li>
						<p class="id">{{id}}</p>
						<p class="title">{{title}}</p>
						<p class="summary">{{summary}}</p>
					</li>
				</ul>
			</section>		
		</div>
	</div>
</div>


</body>
</html>