[
	{snake_worker, [
		{thrift_listen, 9111},
		{nodename, "localhost"},
		{rabbitmq_server, "localhost"},
                {host_domain, [{"d1", ["localhost"]}]},
                {snake_worker_servers, "localhost"},
		{log_facility, local4},
		{datadir ,"data"}
    ]},
	%% SASL config
	{sasl, [
	        {sasl_error_logger, {file, "log/sasl-error.log"}},
	        {errlog_type, error},
	        {error_logger_mf_dir, "log/sasl"},      % Log directory
	        {error_logger_mf_maxbytes, 1048576000}, % 1MB
	        {error_logger_mf_maxfiles, 10}
	       ]}
].
